<% content_for :title, "Edit Deliverable" %>
<% content_for :head do %>
<%# javascript_include_tag :defaults, :cache => true %>
<%= javascript_include_tag 'prototype' %>
<% end %>

<h1>Edit Deliverable</h1>

<%= render :partial => "edit_form",:locals => { :button_name => "Edit" } %>

<%= link_to 'Back', deliverables_path %>
<br/>
<br/>