    <!--tr class= "<#%if person.is_student>student<#% end %> <#% if person.is_staff %>staff<#%end%>">
       <td>
        <a href='http://info.sv.cmu.edu/twiki/bin/view/Main/<#%=person.twiki_name%>' target='_top'>
          <%#= image_tag(person.image_uri, :border=>0, :height=>200, :alt=>person.human_name+" image") %></a>
       </td>

     </tr-->
     <tr class="tablesorter <%if person.is_student %>student<% end %> <% if person.is_staff %>staff<%end%>"><td class=''><%=person.human_name%></td></tr>

